<header>
  <h1>Jax Box Games!</h1>

  <div id="outer" align = "center">
    <div class="inner"><button class="headButton" ng-click="toSplash()">BACK TO TITLE</button></div>
    <div class="inner" style="padding-left:5em;padding-right:5em;"><h3>SERVERS</h3></div>
    <div class="inner"><button class="headButton" ng-click="newServer()">CREATE SERVER</button></div>
  </div>
</header>

<ul>
  <li ng-repeat="server in $ctrl.servers">
    <button class="delete" ng-click="removeServer(server)" ng-show="server.owner === $ctrl.currentUser._id">&times;</button>
    <!-- <button class="join" ng-click="joinServer(server)">JOIN</button> -->
    <uib-accordion close-others="oneAtATime">
      <span class="text">
        <strong>{{server.Name}}</strong> - Created by: {{server.username}}, Max {{server.MaxPlayers}} Players
        <div uib-accordion-group class="panel-default" heading="JOIN">
          <p>Please, to delete your account, click the button below</p>
          <button class="btn btn-danger">Delete</button>
        </div>
      </uib-accordion>
    </span>
  </li>
</ul>
